		@font-face {
			font-family: 'C';
			font-weight: 500;
			src: url('./assets/cr.ttf');
		}
		@font-face {
			font-family: 'C';
			font-weight: 900;
			src: url('./assets/cb.ttf');
		}

		html {
			background: #000000;
			-moz-user-select: none !important;
			-khtml-user-select: none !important;
			-webkit-user-select: none !important;
			-ms-user-select: none !important;
			user-select: none !important;
			font-family: 'C';
		}

		#bg {
		  opacity: 0.5;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #111;
			z-index: -10;
			animation: 0.5s BGIn forwards;
		}
		@keyframes BGIn {
			from { opacity: 0; }
			to { opacity: 0.5; }
		}

		#shade {
		  opacity: 0.5;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			z-index: 0;
			opacity: 0;
			transition: 0.3s opacity;
			pointer-events: none;
		}
		#shade.showing {
			opacity: 1;
			pointer-events: all;
		}

		#main {
		  z-index: 0;
			color: #888;
			transform:
			rotate3d(0, 0, 0, 90deg);
			animation: 0.5s MainAppear cubic-bezier(.3,1.48,.7,.99);
		}
		@keyframes MainAppear {
			from { opacity: 0; transform: perspective(600px)  rotate3d(1, 0, 0, 90deg); }
			to { opacity: 1; transform: perspective(600px) rotate3d(0, 0, 0, 90deg); }
		}
		@keyframes MainHide {
			from { opacity: 1; transform: perspective(600px) translate3d(-50%, -50%, -15rem) rotate3d(0, 0, 0, 90deg); }
			to { opacity: 0; transform: perspective(600px) translate3d(-50%, -50%, -15rem) rotate3d(1, 0, 0, 90deg); }
		}
		#main.hidden {
			pointer-events: none;
			animation: 0.3s MainHide cubic-bezier(.24,-0.26,.88,.42) forwards;
		}

		#main h1 {
		  color:#fff;
			font-size: 3rem;
		}

		#main h2 {
		  color:#fff;
			font-size: 1.25rem;
		}

		#main .button {
			display: inline-block;
			padding: 0.5rem 1rem;
			padding-top: 0.4rem;
			background-color: #111;
			border: 1px solid #888;
			border-radius: 3px;
			color: #888;
			cursor: pointer;
			margin-right: 0.5rem;
			transform: translateY(0px);
			transition: 0.3s color, 0.3s background-color, 0.3s border-color, 0.3s transform;
		}
		#main .button:hover {
			background-color: #333;
			border-color: #FFF;
			color: #FFF;
			transform: translateY(-1px);
		}
		#main .button:active {
			background-color: #FFF;
			border-color: #FFF;
			color: #000;
			transform: translateY(2px);
			transition: 0.05s color, 0.05s background-color, 0.05s border-color, 0.05s transform;
		}

		#main a {
			color: #555;
			font-weight: 900;
		}
	#post {
	  background: #555;
	  width: 100%;
	}
#posterimg {
  width:25px;
  height:25px;
}
p{
  color:#fff
}
li{
  color:#fff;
}
#time{
  color:#1D5083;
}
