body { background-color: #0F160E;
font-family: "Inconsolata";
}

h1 { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; 
text-decoration: underline;
}

h2 { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; 
text-decoration: underline;
}

p {
background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; 


}
.live-profile {
    background-color: black;
}

li{
    color: white;
}

.social_section{
    display:flex;
    position:absolute;
    top:0px;
    right:16px;
    height:66px;
}
.tetrio-stats{
    position:absolute;
    top:360px;
    right:17%;
}
.social-tip{
    display:flex;
    position:absolute;
    top:69px;
    right:18px;
}
.hola {
    position:absolute;
    top:72px;
}
.ingamename{
    position:absolute;
    top:202px;
}

.text-race{
    position:absolute;
    top:666px;
}
.ipdisplay{
    position:absolute;
    top:72px;
}
.planet:before {
	content: "";
	display: block;
	position: fixed;
	width: 1500px;
  aspect-ratio: 1;
	left: 100%;
	top: 50%;
	z-index: -1;
  transform: translateX(-50%) translateY(-50%);
	background-image: radial-gradient(at 50% 50% in oklch,
			color-mix(in oklch, skyblue, blue 80%),
			color-mix(in oklch, skyblue, blue 10%) 19%,
			color-mix(in oklch, skyblue, blue 20%) 20%,
			color-mix(in oklch, skyblue, blue 80%),
			color-mix(in oklch, blue, black 50%) 55%,
			transparent 70%);
}
