body {
    margin: 0;
    overflow: scroll;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image:
url("https://www.solarsystemscope.com/textures/download/8k_stars_milky_way.jpg");
    background-size: cover;
font-family: "Inconsolata";
}

h1 { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; 
text-decoration: underline;
}

h2 { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; 
text-decoration: underline;
}

}
li{
background: rgba(31, 52, 71, .5);
    color: red;
}

.social_section{
    display:flex;
    position:absolute;
    top:0px;
    right:30px;
    height:66px;
}
.tetrio-stats{
    position:absolute;
    top:360px;
    right:17%;
}
.social-tip{
    display:flex;
    position:absolute;
    top:69px;
    right:18px;
}
.ingamename{
    background: rgba(31, 52, 71, .5)
    position:absolute;
    top:202px;
}

.text-race{
    position:absolute;
    top:666px;
}

#background {
     width: 100vw;
     height: 100vh;
     display: block;
     position: fixed;
     top: 0;
     left:
     0;
     z-index: -9999; }
.tetrio img {
     height: 100%;
     width: 100%;
}
.youtube img{
    height:100%;
    width:100%;
}
#post{
    background: rgba(225, 225, 225, .5);
    }
    
#postcontent{
    background: rgba(31, 52, 71, .5);
}

    

